<table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>genra</th>
    </tr>
  </thead>
  <tbody>
   {{#each playlist.songs}}
  <tr>
    <td>
      {{title}}
    </td>
    <td>
      {{artist}}
    </td>
    <td>
      {{genra}}
    </td>
  </tr>
{{/each}}
  </tbody>
</table>